<div>
	<form>
		<input type="text" name="in1" ng-model="words[0]" placeholder="plural animal">
		<input type="text" name="in2" ng-model="words[1]" placeholder="city/place">
		<input type="text" name="in3" ng-model="words[2]" placeholder="adjective">
		<input type="text" name="in4" ng-model="words[3]" placeholder="hobby">
		<input type="text" name="in5" ng-model="words[4]" placeholder="verb, preterit">
		<input type="text" name="in6" ng-model="words[5]" placeholder="noun">
		<input type="text" name="in7" ng-model="words[6]" placeholder="place/city">
		<input type="submit" name="submit" ng-click="setWords()" pl>
	</form>
</div>